<h1 align="center">Chemistry Quiz Key Generator</h1>
<h2 align="center">Stoichiometry Form</h2>

<div>
  At the moment, this program calculates stoichiometry, to be used in limiting-reactant problems, involving monoatomic
  and
  polyatomic ions peforming replacement reactions. Input the data into the form and click Calculate to generate the
  answer key.
  (Combustion and gas-evolution reactions using metals and acids may be added in a future update.)
</div>

<div class="form-container">
  <form [formGroup]="formGroup">
    <select formControlName="cation1">
      <option *ngFor="let cation of cations" value="{{ cation.symbol }}">{{ cation.symbol }}</option>
    </select>
    <select formControlName="anion1">
      <option *ngFor="let anion of anions" value="{{ anion.symbol }}">{{ anion.symbol }}</option>
    </select>
    <input formControlName="grams1" placeholder="Grams of First Compound">
    <br><br>
    <select formControlName="cation2">
      <option *ngFor="let cation of cations" value="{{ cation.symbol }}">{{ cation.symbol }}</option>
    </select>
    <select formControlName="anion2">
      <option *ngFor="let anion of anions" value="{{ anion.symbol }}">{{ anion.symbol }}</option>
    </select>
    <input formControlName="grams2" placeholder="Grams of Second Compound">
    <br><br>
    <button mat-raised-button (click)="setAnswerKey()">Calculate</button>
  </form>
  <app-answer-key [answer]="answer"></app-answer-key>
  
  <div contenteditable="true"> 
  
    Calculate the limiting reactant, excess reactant and theoretical yield in grams when.
    ___(grams) _______ g of _(first compound) __________ reacts with __(grams) ____________ grams of __(second compound)
    ___________. according to the following equation: ______(balanced equation) _________</div>
