<h1 align="center">Chemistry Quiz Key Generator</h1>
<h2 align="center">Molarity Form</h2>

<div>
    Input a conjugate base-acid pair, volumes, and molarity values of each, then press "Calculate".
</div>

<div class="form-container">
  <form [formGroup]="formGroup">
    <select formControlName="base">
      <option *ngFor="let key of atomic_weights | keys" value="{{ key }}">{{ key }}</option>
    </select>
    <select formControlName="baseVol">
      <option *ngFor="let key of atomic_weights | keys" value="{{ key }}">{{ key }}</option>
    </select>
    <input formControlName="baseMol" placeholder="Molarity of Base">
    <br><br>
    <select formControlName="acid">
      <option *ngFor="let key of atomic_weights | keys" value="{{ key }}">{{ key }}</option>
    </select>
    <select formControlName="acidVol">
      <option *ngFor="let key of atomic_weights | keys" value="{{ key }}">{{ key }}</option>
    </select>
    <input formControlName="acidMol" placeholder="Molarity of Acid">
    <br><br>
    <button mat-raised-button (click)="calculate()">Calculate</button>
  </form>
</div>