<h1 align="center">Chemistry Quiz Key Generator</h1>
<h2 align="center" >Welcome to the Chemistry Quiz Generator. Here you can use this website 
  to practice sample chemistry questions for stoichiometry and molarity questions.
</h2>
<br>

<!----<div class="form-container">
  <a routerLink="/stoichiometry"></a><button class="btn btn-success pull-right">Stoichiometry Equations</button></a>
  <a routerLink="/molarity"><button class="btn btn-success pull-right">Molarity Equations</button></a>
</div>-->

<div class="navbar">
  <a href="form-container"Home></a>
  <div class="dropdown">
    <button class="dropbtn">Equations
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a routerLink= "/stoichiometry">Stoichiometry Equations</a> 
    <a routerLink="/molarity">Molarity Equations</a>
 </div>
 </div>    
 </div>

<footer>
  <small><em>Copyright &copy; 2019 Catalyst Quartet</em></small><br>
  <script>
    document.write("This page was last modified on: " + document.lastModified)
  </script>
</footer>



