<h1 align="center">Chemistry Quiz Key Generator</h1>

<br>

<div class="form-container">
  <a routerLink="/stoichiometry"><button class="btn btn-success pull-right">Stoichiometry Equations</button></a>
  <a routerLink="/molarity"><button class="btn btn-success pull-right">Molarity Equations</button></a>
</div>

<footer>
  <small><em>Copyright &copy; 2019 Catalyst Quartet</em></small><br>
  <script>
    document.write("This page was last modified on: " + document.lastModified)
  </script>
</footer>